*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.csv
*.synctex.gz
thesis.pdf
thesis.ps
*.kdev4
*.DS_Store
*.tex.backup
*.swp
.idea/*
build
ci/clBLAS
